<div class="btn-group" id="btn-group">
  <button (click)="backOptimizerHandler()">{{"Optimizer" }}</button>
  <button (click)="saveChangesHandler()">{{"Save Changes"}}</button>
  <button (click)="addPlanHandler()">{{"Add Plans"}}</button>
  <button (click)="reCalculateHandler()">{{"Re-Calculate"}}</button>
  <button (click)="printHandler()">{{"Print"}}</button>
  <button (click)="printSummaryHandler()">{{"Print Summary"}}</button>
  <button (click)="openMapView()" >{{IsMultiWidow?'Single-Window':'Multi-Window'}}</button>
  <button (click)="selectColumns()">{{'Select Columns'}}</button>
</div>
